.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  background-color: tomato;
}

.alert {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: tomato;
}
